In [3]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
import pandas as pd 
import numpy as np

In [4]:
cases = pd.read_csv('../data/cases.csv')
tran = pd.read_csv('../data/tran.csv')
country = pd.read_csv('../data/country.csv')
cluster = pd.read_csv('../data/cluster.csv')

In [5]:
cases.head()

,Case no.,Report date,Date of onset,Gender,Age,Name of hospital admitted,Hospitalised/Discharged/Deceased,HK/Non-HK resident,Case classification*,Confirmed/probable
0,1,23/01/2020,21/01/2020,M,39,NaN,Discharged,Non-HK resident,Imported case,Confirmed
1,2,23/01/2020,18/01/2020,M,56,NaN,Discharged,HK resident,Imported case,Confirmed
2,3,24/01/2020,20/01/2020,F,62,NaN,Discharged,Non-HK resident,Imported case,Confirmed
3,4,24/01/2020,23/01/2020,F,62,NaN,Discharged,Non-HK resident,Imported case,Confirmed
4,5,24/01/2020,23/01/2020,M,63,NaN,Discharged,Non-HK resident,Imported case,Confirmed

In [7]:
cases.shape

(5702, 10)

In [8]:
cases.index

RangeIndex(start=0, stop=5702, step=1)

In [9]:
cases.columns

Index(['Case no.', 'Report date', 'Date of onset', 'Gender', 'Age',
       'Name of hospital admitted', 'Hospitalised/Discharged/Deceased',
       'HK/Non-HK resident', 'Case classification*', 'Confirmed/probable'],
      dtype='object')

In [10]:
cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5702 entries, 0 to 5701
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Case no.                          5702 non-null   int64
 1   Report date                       5702 non-null   object
 2   Date of onset                     5702 non-null   object
 3   Gender                            5702 non-null   object
 4   Age                               5702 non-null   int64
 5   Name of hospital admitted         0 non-null      float64
 6   Hospitalised/Discharged/Deceased  5702 non-null   object
 7   HK/Non-HK resident                5702 non-null   object
 8   Case classification*              5702 non-null   object
 9   Confirmed/probable                5702 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 445.6+ KB

In [11]:
cases.describe()

          Case no.          Age  Name of hospital admitted
count  5702.000000  5702.000000                        0.0
mean   2851.500000    43.944756                        NaN
std    1646.169949    20.005356                        NaN
min       1.000000     0.000000                        NaN
25%    1426.250000    28.000000                        NaN
50%    2851.500000    43.000000                        NaN
75%    4276.750000    59.000000                        NaN
max    5702.000000   100.000000                        NaN

**Make Report Date TO DateTime**

In [14]:
casesday = cases['Report date']
casesnum = cases['Case no.']

In [25]:
cases['Date to report'] = pd.to_datetime(cases['Report date'], infer_datetime_format=True)
cases['Date to report'].head()

0   2020-01-23
1   2020-01-23
2   2020-01-24
3   2020-01-24
4   2020-01-24
Name: Date to report, dtype: datetime64[ns]

In [30]:
cases1 = cases.copy()

In [31]:
cases1.head()

,Case no.,Report date,Date of onset,Gender,Age,Name of hospital admitted,Hospitalised/Discharged/Deceased,HK/Non-HK resident,Case classification*,Confirmed/probable,Date to report
0,1,23/01/2020,21/01/2020,M,39,NaN,Discharged,Non-HK resident,Imported case,Confirmed,2020-01-23
1,2,23/01/2020,18/01/2020,M,56,NaN,Discharged,HK resident,Imported case,Confirmed,2020-01-23
2,3,24/01/2020,20/01/2020,F,62,NaN,Discharged,Non-HK resident,Imported case,Confirmed,2020-01-24
3,4,24/01/2020,23/01/2020,F,62,NaN,Discharged,Non-HK resident,Imported case,Confirmed,2020-01-24
4,5,24/01/2020,23/01/2020,M,63,NaN,Discharged,Non-HK resident,Imported case,Confirmed,2020-01-24

In [32]:
cases1.drop(['Report date', 'Name of hospital admitted'], axis = 1, inplace = True)
cases1.head()

,Case no.,Date of onset,Gender,Age,Hospitalised/Discharged/Deceased,HK/Non-HK resident,Case classification*,Confirmed/probable,Date to report
0,1,21/01/2020,M,39,Discharged,Non-HK resident,Imported case,Confirmed,2020-01-23
1,2,18/01/2020,M,56,Discharged,HK resident,Imported case,Confirmed,2020-01-23
2,3,20/01/2020,F,62,Discharged,Non-HK resident,Imported case,Confirmed,2020-01-24
3,4,23/01/2020,F,62,Discharged,Non-HK resident,Imported case,Confirmed,2020-01-24
4,5,23/01/2020,M,63,Discharged,Non-HK resident,Imported case,Confirmed,2020-01-24

**Show all**

In [36]:
pd.set_option('max_columns',1000)
pd.set_option('max_row',5000)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [37]:
cases1.loc[:,'Date of onset'].value_counts()

Asymptomatic    1599
27/07/2020       130
25/07/2020       118
24/07/2020       110
22/07/2020       104
21/07/2020       103
20/07/2020       101
23/07/2020        99
17/07/2020        96
26/07/2020        95
28/07/2020        93
16/07/2020        89
18/07/2020        88
15/07/2020        83
29/07/2020        80
14/07/2020        76
19/07/2020        71
01/08/2020        60
30/07/2020        59
31/07/2020        58
13/07/2020        57
03/08/2020        54
12/07/2020        52
02/08/2020        50
05/08/2020        50
Pending           47
04/08/2020        47
10/07/2020        45
19/03/2020        44
11/07/2020        43
24/03/2020        41
23/03/2020        41
16/03/2020        40
07/08/2020        40
07/07/2020        39
17/03/2020        39
18/03/2020        38
09/07/2020        38
20/03/2020        38
27/03/2020        37
25/03/2020        37
10/08/2020        36
08/08/2020        34
06/08/2020        32
09/08/2020        32
26/03/2020        32
22/03/2020        31
21/03/2020        30
08/07/2020        29
29/03/2020        27
12/08/2020        27
20/11/2020        26
Unknown           26
15/03/2020        25
11/08/2020        25
19/11/2020        25
16/08/2020        24
13/08/2020        24
06/07/2020        23
31/03/2020        23
14/08/2020        21
21/11/2020        20
12/03/2020        20
17/08/2020        19
15/08/2020        19
14/03/2020        18
10/03/2020        17
30/03/2020        17
28/03/2020        17
13/03/2020        17
19/08/2020        17
18/11/2020        16
11/03/2020        16
20/08/2020        16
16/11/2020        15
21/08/2020        14
01/04/2020        13
17/11/2020        13
18/08/2020        13
09/03/2020        12
02/04/2020        11
27/08/2020        10
03/04/2020        10
04/07/2020        10
05/07/2020        10
30/01/2020         9
14/11/2020         9
01/09/2020         9
22/08/2020         9
02/09/2020         9
09/09/2020         9
01/07/2020         9
25/08/2020         9
04/04/2020         8
04/10/2020         7
06/10/2020         7
08/02/2020         7
03/10/2020         7
12/02/2020         7
26/08/2020         7
22/11/2020         7
12/09/2020         7
08/04/2020         7
03/07/2020         7
11/11/2020         7
26/09/2020         7
03/09/2020         6
08/03/2020         6
29/09/2020         6
02/07/2020         6
29/08/2020         6
08/11/2020         6
30/08/2020         5
30/06/2020         5
07/10/2020         5
28/08/2020         5
07/11/2020         5
07/03/2020         5
25/06/2020         5
31/08/2020         5
03/02/2020         5
30/10/2020         5
24/08/2020         5
02/02/2020         5
06/03/2020         5
10/11/2020         5
04/02/2020         5
28/01/2020         5
15/11/2020         5
09/10/2020         4
06/09/2020         4
01/02/2020         4
15/09/2020         4
23/08/2020         4
23/01/2020         4
11/09/2020         4
04/06/2020         4
05/10/2020         4
31/10/2020         4
25/01/2020         4
01/10/2020         4
13/11/2020         4
20/10/2020         4
06/11/2020         4
03/03/2020         4
10/09/2020         4
05/11/2020         4
27/10/2020         4
19/10/2020         3
19/09/2020         3
17/09/2020         3
03/06/2020         3
20/02/2020         3
09/11/2020         3
05/04/2020         3
21/06/2020         3
20/06/2020         3
28/02/2020         3
02/11/2020         3
10/10/2020         3
17/10/2020         3
04/09/2020         3
13/02/2020         3
29/01/2020         3
21/01/2020         3
08/09/2020         3
07/04/2020         3
02/03/2020         3
22/06/2020         3
05/09/2020         3
06/04/2020         3
29/06/2020         3
12/10/2020         2
20/05/2020         2
25/02/2020         2
31/01/2020         2
22/01/2020         2
25/09/2020         2
31/05/2020         2
27/09/2020         2
12/11/2020         2
22/09/2020         2
07/02/2020         2
10/02/2020         2
27/06/2020         2
17/02/2020         2
24/09/2020         2
03/11/2020         2
23/02/2020         2
19/02/2020         2
19/06/2020         2
23/06/2020         2
28/09/2020         2
11/04/2020         2
14/09/2020         2
24/02/2020         2
16/04/2020         2
18/02/2020         2
18/06/2020         2
04/03/2020         2
25/10/2020         2
02/10/2020         2
21/09/2020         2
11/10/2020         2
08/10/2020         2
28/10/2020         2
18/10/2020         2
20/09/2020         2
16/10/2020         2
01/06/2020         2
08/05/2020         1
13/06/2020         1
05/03/2020         1
21/10/2020         1
11/02/2020         1
15/05/2020         1
30/09/2020         1
20/01/2020         1
17/06/2020         1
16/05/2020         1
25/04/2020         1
13/10/2020         1
15/04/2020         1
13/09/2020         1
26/05/2020         1
13/04/2020         1
29/05/2020         1
23/10/2020         1
05/05/2020         1
16/02/2020         1
10/06/2020         1
29/10/2020         1
05/02/2020         1
January            1
October            1
15/02/2020         1
10/04/2020         1
12/06/2020         1
01/11/2020         1
06/06/2020         1
26/01/2020         1
12/05/2020         1
30/05/2020         1
22/10/2020         1
09/04/2020         1
18/09/2020         1
16/09/2020         1
26/06/2020         1
04/11/2020         1
22/05/2020         1
08/06/2020         1
27/04/2020         1
24/06/2020         1
Mid-July           1
07/09/2020         1
11/05/2020         1
18/01/2020         1
24/10/2020         1
14/02/2020         1
29/02/2020         1
Mid-March          1
25/05/2020         1
Name: Date of onset, dtype: int64

- **Asymptomatic 1599**
- **Pending 47**
- **Unknown 26**
- **January 1**
- **October 1**
- **Mid-July 1**
- **Mid-March 1**

- **For the convience of analysis, We can set the Asymptonmatic, Pending, Unknown's on setdate as the same as the reported date**

- **In the main table, set Asymptonmatic, Pending, Unknown to `NaN`**
- **And we alse need to take the Asymptomatic out, for a indi table to analysis**
- **January = 01/01/2020**
- **October = 01/10/2020**
- **Mid-July = 15/07/2020**
- **Mid-March = 15/03/2020**

In [74]:
# set Asymptonmatic, Pending, Unknown to NaN
casesForMain = cases1.copy()
casesForMain.loc[casesForMain['Date of onset']=='Asymptomatic', 'Date of onset'] = np.nan
casesForMain.loc[casesForMain['Date of onset']=='Pending', 'Date of onset'] = np.nan
casesForMain.loc[casesForMain['Date of onset']=='Unknown', 'Date of onset'] = np.nan

casesForMain.loc[casesForMain['Date of onset']=='January', 'Date of onset'] = '01/01/2020'
casesForMain.loc[casesForMain['Date of onset']=='October', 'Date of onset'] = '01/10/2020'
casesForMain.loc[casesForMain['Date of onset']=='Mid-July', 'Date of onset'] = '15/07/2020'
casesForMain.loc[casesForMain['Date of onset']=='Mid-March', 'Date of onset'] = '15/03/2020'

# print(casesForMain.loc[casesForMain['Date of onset']=='January', 'Date of onset'])
# print(casesForMain.loc[casesForMain['Date of onset']=='October', 'Date of onset'])
# print(casesForMain.loc[casesForMain['Date of onset']=='Mid-July', 'Date of onset'])
# print(casesForMain.loc[casesForMain['Date of onset']=='Mid-March', 'Date of onset'])

Series([], Name: Date of onset, dtype: object)
Series([], Name: Date of onset, dtype: object)
Series([], Name: Date of onset, dtype: object)
Series([], Name: Date of onset, dtype: object)

In [86]:
casesForMain['Onset Date'] = pd.to_datetime(casesForMain['Date of onset'], infer_datetime_format=True)
casesForMain.drop(['Date of onset'], axis=1, inplace=True)
casesForMain.head()

,Case no.,Gender,Age,Hospitalised/Discharged/Deceased,HK/Non-HK resident,Case classification*,Confirmed/probable,Date to report,Onset Date
0,1,M,39,Discharged,Non-HK resident,Imported case,Confirmed,2020-01-23,2020-01-21
1,2,M,56,Discharged,HK resident,Imported case,Confirmed,2020-01-23,2020-01-18
2,3,F,62,Discharged,Non-HK resident,Imported case,Confirmed,2020-01-24,2020-01-20
3,4,F,62,Discharged,Non-HK resident,Imported case,Confirmed,2020-01-24,2020-01-23
4,5,M,63,Discharged,Non-HK resident,Imported case,Confirmed,2020-01-24,2020-01-23

# Hospitalised/Discharged/Deceased

In [88]:
casesForMain.loc[:,'Hospitalised/Discharged/Deceased'].value_counts()

Discharged        5267
Hospitalised       224
Deceased           108
To be provided      73
No admission        30
Name: Hospitalised/Discharged/Deceased, dtype: int64

In [91]:
# No admission 不适用
casesForMain[casesForMain['Case no.'] == 1913]

,Case no.,Gender,Age,Hospitalised/Discharged/Deceased,HK/Non-HK resident,Case classification*,Confirmed/probable,Date to report,Onset Date
1912,1913,M,27,No admission,Non-HK resident,Imported case,Confirmed,2020-07-20,NaT

In [94]:
# Hospitalised 住院
#casesForMain.loc[casesForMain['Hospitalised/Discharged/Deceased']=='Hospitalised']

In [95]:
#Deceased 死亡
#casesForMain.loc[casesForMain['Hospitalised/Discharged/Deceased']=='Deceased']

In [97]:
#To be provided 有待提供
# casesForMain.loc[casesForMain['Hospitalised/Discharged/Deceased']=='To be provided']

In [99]:
# set To be provided, No admission to nan
casesForMain.loc[casesForMain['Hospitalised/Discharged/Deceased']=='To be provided', 'Hospitalised/Discharged/Deceased'] = np.nan
casesForMain.loc[casesForMain['Hospitalised/Discharged/Deceased']=='No admission', 'Hospitalised/Discharged/Deceased'] = np.nan

# set Hospitalised = 2
casesForMain.loc[casesForMain['Hospitalised/Discharged/Deceased']=='Hospitalised', 'Hospitalised/Discharged/Deceased'] = 2
# set Deceased = 1, Discharged = 0
casesForMain.loc[casesForMain['Hospitalised/Discharged/Deceased']=='Deceased', 'Hospitalised/Discharged/Deceased'] = 1
casesForMain.loc[casesForMain['Hospitalised/Discharged/Deceased']=='Discharged', 'Hospitalised/Discharged/Deceased'] = 0

casesForMain.head()

,Case no.,Gender,Age,Hospitalised/Discharged/Deceased,HK/Non-HK resident,Case classification*,Confirmed/probable,Date to report,Onset Date
0,1,M,39,0,Non-HK resident,Imported case,Confirmed,2020-01-23,2020-01-21
1,2,M,56,0,HK resident,Imported case,Confirmed,2020-01-23,2020-01-18
2,3,F,62,0,Non-HK resident,Imported case,Confirmed,2020-01-24,2020-01-20
3,4,F,62,0,Non-HK resident,Imported case,Confirmed,2020-01-24,2020-01-23
4,5,M,63,0,Non-HK resident,Imported case,Confirmed,2020-01-24,2020-01-23

## HK/Non-HK resident

In [100]:
casesForMain.loc[:,'HK/Non-HK resident'].value_counts()

HK resident        5419
Non-HK resident     231
HK Resident          42
Non-HK Resident       7
non-HK resident       3
Name: HK/Non-HK resident, dtype: int64

In [102]:
# set HK resident = 1
casesForMain.loc[casesForMain['HK/Non-HK resident']=='HK resident', 'HK/Non-HK resident'] = 1
casesForMain.loc[casesForMain['HK/Non-HK resident']=='HK Resident', 'HK/Non-HK resident'] = 1
# set Non Hk resident = 0
casesForMain.loc[casesForMain['HK/Non-HK resident']=='Non-HK resident', 'HK/Non-HK resident'] = 0
casesForMain.loc[casesForMain['HK/Non-HK resident']=='Non-HK Resident', 'HK/Non-HK resident'] = 0
casesForMain.loc[casesForMain['HK/Non-HK resident']=='non-HK resident', 'HK/Non-HK resident'] = 0

casesForMain['HK/Non-HK resident'].head()

0    0
1    1
2    0
3    0
4    0
Name: HK/Non-HK resident, dtype: object

## Case classification*

In [103]:
casesForMain.loc[:,'Case classification*'].value_counts()

Epidemiologically linked with local case             2470
Imported case                                        1586
Local case                                           1441
Possibly local case                                   103
Epidemiologically linked with possibly local case      62
Epidemiologically linked with imported case            40
Name: Case classification*, dtype: int64

In [108]:
casesForMain

,Case no.,Gender,Age,Hospitalised/Discharged/Deceased,HK/Non-HK resident,Case classification*,Confirmed/probable,Date to report,Onset Date
0,1,M,39,0,0,Imported case,1,2020-01-23,2020-01-21
1,2,M,56,0,1,Imported case,1,2020-01-23,2020-01-18
2,3,F,62,0,0,Imported case,1,2020-01-24,2020-01-20
3,4,F,62,0,0,Imported case,1,2020-01-24,2020-01-23
4,5,M,63,0,0,Imported case,1,2020-01-24,2020-01-23
...,...,...,...,...,...,...,...,...,...
5697,5698,M,70,NaN,1,Epidemiologically linked with local case,1,2020-11-23,NaT
5698,5699,F,65,NaN,1,Epidemiologically linked with local case,1,2020-11-23,NaT
5699,5700,F,30,NaN,1,Epidemiologically linked with local case,1,2020-11-23,2020-11-18
5700,5701,F,69,NaN,1,Epidemiologically linked with local case,1,2020-11-23,NaT
5701,5702,F,46,NaN,1,Epidemiologically linked with local case,1,2020-11-23,2020-11-22

## Confirmed/probable

In [109]:
casesForMain.loc[:,'Confirmed/probable'].value_counts()

1    5701
0       1
Name: Confirmed/probable, dtype: int64

In [107]:
casesForMain.loc[casesForMain['Confirmed/probable']=='Confirmed', 'Confirmed/probable'] = 1
casesForMain.loc[casesForMain['Confirmed/probable']=='Probable', 'Confirmed/probable'] = 0

casesForMain.head()

,Case no.,Gender,Age,Hospitalised/Discharged/Deceased,HK/Non-HK resident,Case classification*,Confirmed/probable,Date to report,Onset Date
0,1,M,39,0,0,Imported case,1,2020-01-23,2020-01-21
1,2,M,56,0,1,Imported case,1,2020-01-23,2020-01-18
2,3,F,62,0,0,Imported case,1,2020-01-24,2020-01-20
3,4,F,62,0,0,Imported case,1,2020-01-24,2020-01-23
4,5,M,63,0,0,Imported case,1,2020-01-24,2020-01-23

## Make a indi table for Asymptomatic

In [87]:
casesForAsy = cases1.loc[cases1['Date of onset']=='Asymptomatic'].copy()
casesForAsy.drop(['Date of onset'], axis = 1, inplace = True)
casesForAsy.head()

,Case no.,Gender,Age,Hospitalised/Discharged/Deceased,HK/Non-HK resident,Case classification*,Confirmed/probable,Date to report
79,80,M,57,Discharged,HK resident,Imported case,Confirmed,2020-02-24
80,81,F,57,Discharged,HK resident,Imported case,Confirmed,2020-02-24
83,84,M,24,Discharged,HK resident,Epidemiologically linked with possibly local case,Confirmed,2020-02-25
93,94,F,61,Discharged,HK resident,Imported case,Confirmed,2020-02-28
96,97,M,56,Discharged,HK resident,Imported case,Probable,2020-03-01